.userCard {
  width: 40vmin;
  min-width: 200px;
  overflow: hidden;
  margin: 0 auto;
  pointer-events: none;
  border-radius: 12px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.headCard {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 50px;
  gap: 5px;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bottomCard {
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.infoSection > p:nth-child(1) {
  font-size: 12px;
  font-weight: 100;
  margin-bottom: 6px;
  color: rgb(75, 75, 75);
}
.infoSection > p:nth-child(2) {
  font-size: 24px;
  font-weight: 400;
}

.userName {
  font-size: 24px;
}
.userName,
.userLink {
  color: white;

  text-shadow: black 1px 0 10px;
}
.userLink {
  text-decoration: none;
}

.plus {
  background: rgb(251, 111, 63);
  background: linear-gradient(
    180deg,
    rgba(251, 111, 63, 1) 0%,
    rgba(240, 56, 149, 1) 100%
  );
  font-size: 24px;
  font-weight: 600;
  color: white;
  height: 60px;
  width: 60px;
  align-items: center;
  display: flex;
  justify-content: center;
  border: 1px solid #be186c;
  border-radius: 50%;
  position: absolute;
  bottom: -30px;
  box-shadow: #be186c 0px 20px 30px -10px;
}
