.radio {
  position: relative;
  padding: 10px;
  margin: 10px 10px 0 10px;
  display: flex;
  align-items: stretch;
  gap: 20px;
  min-height: 115px;
  &:before {
    content: ' ';
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    bottom: 5px;
    border: 1px solid white;
    border-radius: 4px;
  }
}

.radio ~ .radio {
  margin-top: 0;
  margin-bottom: 35px;
}
.radioText {
  display: flex;
  flex-direction: column;
}
.radioLabel {
  font-size: 28px;
  padding-top: 10px;
}
.radioCaption {
  margin-top: auto;
  font-size: 18px;
  padding-bottom: 10px;
}
