@import './../../../common/style/input-stylesheet.module.scss';

.oneLineDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.oneLineDiv > .checkbox {
  margin-bottom: 10px;
}

.forgotPassword {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}
