.todo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  height: 60px;
  align-items: center;
}
.greenButton,
.redButton {
  height: 100%;
  width: 40px;
  border: none;
  color: white;
}
.greenButton {
  background-color: #28a745;
}
.redButton {
  background-color: #dc3545;
}

.todoTask {
  margin-right: auto;
}
