.form {
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: 100%;

  label {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    position: relative;
    span {
      width: 30%;
    }
    button {
      height: 100%;
    }
  }
}

.input {
  font-size: 18px;
  margin-right: 10px;
  height: 100%;
  width: 100%;
  transition: background-color 0.2s;
}

.invalid {
  background-color: rgb(255, 222, 212);
}

.valid {
  background-color: #b6ffff;
}
