.form {
  display: flex;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;

  label {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px;
    width: 100%;
    position: relative;
    span {
      width: 30%;
    }
  }
}

.input {
  padding: 10px;
  width: 100%;
  transition: background-color 0.2s;
  position: relative;

  &:before {
    content: attr(data-hover);
    width: 140px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;
  }

  &:hover:before {
    opacity: 1;
    visibility: visible;
  }
}

.invalid {
  background-color: rgb(249, 141, 108);
}

.valid {
  background-color: aqua;
}
