%shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
  border: 1px solid rgb(207, 207, 207);
}

.user {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px;
  padding: 15px;
  margin: 10px 0;
  cursor: pointer;
  align-items: center;
  background-color: #fff;
  transition: background-color 0.2s;
  animation: appear 0.4s;
}
.userImg {
  @extend %shadow;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 5px;
}
.userContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.userName {
  margin: 10px;
  font-size: 18px;
}

.userAgeOnForum {
  margin: 0 auto 10px 10px;
}

.deleteButton {
  @extend %shadow;
  margin: 0 25px 0 auto;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  background-color: rgba(128, 128, 128, 0.342);
}

.male {
  border: 3px solid lightblue;
}

.female {
  border: 3px solid pink;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
