@import './../../../../../../common/style/section'

.day
  padding: 10px
  color: $calendar-grey-color
  transition: color 0.2s 
  position: relative
  &:after 
    content: ""
    position: absolute
    top: 0
    left: 1px
    height: 37px
    width: 37px
    border: 3px solid $calendar-bg-color
    border-radius: 50%
    transition: border-color 0.2s


  
.selected
  color: $calendar-red-color
  &:after 
    border-color: $calendar-red-color  
 