.prevSlide,
.nextSlide,
.slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1000px;
  height: 800px;
  transition: all 0.2s;
}
.prevSlide {
  right: 1000px;
  z-index: 0;
}
.nextSlide {
  right: -1000px;
  z-index: 0;
}
.slide {
  right: 0;
  z-index: 1;
}

.sliderPanel {
  position: relative;

  width: 1000px;
  height: 800px;
  background-color: grey;
  overflow: hidden;
}
