.todo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
  height: 60px;
  align-items: center;
  font-size: 18px;
}
.greenButton,
.redButton {
  height: 100%;
  color: white;
}
.greenButton {
  background-color: #28a745;
}
.redButton {
  background-color: #dc3545;
}

.todoTask {
  margin-right: auto;
}
