.controlPanel {
  z-index: 3;
}

.slidePrevButton,
.slideNextButton {
  width: 20%;
  height: 20%;
  margin: auto 0;
}

.slidePrevButton,
.slideNextButton,
.fullscreenButton,
.controlPlay {
  position: absolute;
}
.slidePrevButton {
  left: 0;
  top: 0;
  bottom: 0;
}
.slideNextButton {
  right: 0;
  top: 0;
  bottom: 0;
}
.controlPlay {
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.fullscreenButton {
  top: 0;
  right: 0;
}
