.controlPanel {
  z-index: 3;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.slidePrevButton,
.slideNextButton {
  border-radius: 50%;
  font-size: 60px;
}
.slidePrevButton,
.slideNextButton,
.fullscreenButton,
.controlPlay > button {
  background-color: rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.fullscreenButton,
.controlPlay {
  position: absolute;
  z-index: 999;
}
.slidePrevButton {
  left: 0;
}
.slideNextButton {
  right: 0;
}
.controlPlay {
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  font-size: 40px;
}
.controlPlay > button {
  font-size: 24px;
  width: 46px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.15);
}
.controlPlay > input {
  font-size: 24px;
  width: 50px;
  text-align: center;

  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.15);

  padding: 2px;
  border: none;
  cursor: pointer;
  color: rgb(255, 255, 255);

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type='number'] {
    -moz-appearance: textfield;
  }
}
.fullscreenButton {
  top: 0;
  right: 0;
  font-size: 40px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.15);
  border: none;
}
