@import './../../../common/style/section'

.selectedSection
  @extend %section
  background-color:  $calendar-green-color
  color: $calendar-bg-color
  height: 500px


.sectionName
  @extend %sectionName
  justify-content: center


.selectedDate
  height:  100%
  justify-content: center
  margin: 30%
  font-size: 175px
