.userImage {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.userList {
  background-color: #f2f2f2;
  position: relative;
  min-height: 60px;
  margin: 50px;
  li {
    padding: 10px;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  li:nth-child(even) {
    background-color: white;
    border-right: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
  }
  li:nth-child(odd) {
    border: 1px solid lightgrey;
  }
  li:nth-last-child(1) {
    border-bottom: 1px solid lightgrey;
  }
}
