@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
:root {
  --colorRed: rgba(255, 0, 0, 0.37);
  --colorGreen: rgba(0, 128, 0, 0.479);
  --colorLightGreen: #60bd84;
}

.formContainer {
  font-family: 'Open Sans', sans-serif;

  padding: 40px 15px;
  width: 275px;
  margin: 15vh auto 0 auto;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.siteHeader {
  text-align: center;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  font-size: 24px;
  font-weight: 600;
}
.loginForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.formHeader {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 400;
}
.avatar {
  display: block;
  width: 75px;
  height: 75px;
  margin: 0 auto 10px auto;
}
.label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}
.passwordSection {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}
.checkboxLabel {
  display: flex;
  align-items: center;
}
.ckeckbox {
  cursor: pointer;
  margin-right: 10px;
}

.checkboxText,
.singIn {
  font-size: small;
}
.inputName {
  color: var(--colorLightGreen);
  font-weight: 900;
  font-size: small;
  text-transform: Uppercase;
}
.input {
  box-sizing: border-box;

  width: 100%;
}
.input,
.showButton {
  padding: 10px;
  outline: none;
}

.showButton {
  height: 100%;
  border-radius: 0;

  appearance: none;
  background-color: inherit;
  border: 1px solid rgba(27, 31, 35, 0.15);
  color: grey;
  cursor: pointer;
  display: inline-block;
}

.singUpButton {
  appearance: none;
  background-color: var(--colorLightGreen);
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 3px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;

  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 10px 16px;
}

.singInLink {
  font-weight: 600;
  margin-left: 5px;
  color: var(--colorLightGreen);
  text-decoration: none;
}
.inputValid {
  border: 2px solid var(--colorGreen);
}

.inputInvalid {
  border: 2px solid var(--colorRed);
}
.checkboxValid {
  -webkit-box-shadow: 0px 0px 0px 1px var(--colorGreen);
  -moz-box-shadow: 0px 0px 0px 1px var(--colorGreen);
  box-shadow: 0px 0px 0px 1px var(--colorGreen);
}
.checkboxInvalid {
  -webkit-box-shadow: 0px 0px 0px 1px var(--colorRed);
  -moz-box-shadow: 0px 0px 0px 1px var(--colorRed);
  box-shadow: 0px 0px 0px 1px var(--colorRed);
}
