.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Gotham SSm A', 'Gotham SSm B', Hatlvetica, sans-serif;
  color: #fff;
  background-color: #3ea9f5;
  background-repeat: repeat;
  background-size: 209px;
  background-position: 50% -1%;
}
