@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500&display=swap');

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Figtree', sans-serif;
  color: #fff;
  background-color: #3ea9f5;
  background-repeat: repeat;
  background-size: 209px;
  background-position: 50% -1%;
}
