%button {
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  color: #24292e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  &:hover {
    background-color: #f3f4f6;
    text-decoration: none;
    transition-duration: 0.1s;
  }
}

%headSections {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.headSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pageButtons {
  @extend %headSections;
  width: 240px;
}

.pageButton {
  @extend %button;
}

.numberUsers {
  @extend %headSections;
}

.updateButton {
  @extend %button;
  margin-left: 5px;
}

input {
  @extend %button;
}
